            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cubism</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div id="cubism_chart" >
				</div>
            </div>
